<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,
    wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/fonte.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/responsive.css">



    <title>QuickUrl</title>
</head>
<body>

    <header>
        <img src="/static/img/LogoQuickurl.svg" alt="Logo do quick url" id="logotipo">
    </header>



    <section class="central-component main-content" >
        <form id="suport-component" method="POST">
            <h1 class="titulo">Encurte seu link em <span id="segundos">segundos</span></h1>
            <p class="subtitulo">Sem cadastro, sem enrolação. Apenas cole e clique!!!</p>
            <div class="input_data">
                <input type="url" name="url" class="url-input" placeholder="Cole sua URL aqui" required>
                <button type="submit" id="generate-url">Gerar Link</button>
            </div>
        </form>
        <div class="flask-app">
                {% if short_url %}
            <div id="result">
                <p id="link_encurtado">Link encurtado: 
                    <a id="short-url" href="{{ short_url }}" target="_blank">{{ short_url }}</a>
                </p>
                <button onclick="copyLink()" id="copiar_colar">Copiar link</button>
            </div> <!--result-->
            {% endif %}
        </div>

    </section>

    </section>

    <footer>
        <div>
            <h3 class="subtitulo-footer">Criado com carinho por Pedro</h3>
            <h3 class="subtitulo-footer"><a href="https://www.linkedin.com/in/joao-pedro0911/">linkedin</a></h3>
            <h3 class="subtitulo-footer"><a href="https://www.instagram.com/pedro09_ok/">Instagram</a></h3>
            <h3 class="subtitulo-footer"><a href="https://www.behance.net/pedrodossantos10">Behance</a></h3>
        </div>
        
    </footer>
    



    <script>
        function copyLink() {
            var link = document.getElementById("short-url").href;
            navigator.clipboard.writeText(link).then(function() {
                alert("Link copiado para a área de transferência!");
            }, function(err) {
                alert("Erro ao copiar o link: " + err);
            });
        }
        </script>
</body>
</html>