<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,
    wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/fonte.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/responsive.css">



    <title>QuickUrl</title>
</head>
<body>

    <header>
        <img src="/static/img/LogoQuickurl.svg" alt="Logo do quick url" id="logotipo">
    </header>



    <section class="central-component">
        <form id="suport-component" method="POST">
            <h1 class="titulo">Encurte seu link em <span id="segundos">segundos</span></h1>
            <p class="subtitulo">Sem cadastro, sem enrolação. Apenas cole e clique</p>
            <div class="input_data">
                <input type="url" name="url" class="url-input" placeholder="Cole sua URL aqui" required>
                <button type="submit" id="generate-url">Gerar Link</button>
            </div>
        </form>
        <div class="flask-app">
            {% if short_url %}
            <p class="subtitulo-footer">Seu link encurtado: <a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>
            {% endif %}
        </div>
    </section>

    </section>

    <footer>
        <div>
            <h3 class="subtitulo-footer">Criado com carinho por Pedro</h3>
            <h3 class="subtitulo-footer">Linkedin</h3>
            <h3 class="subtitulo-footer">instagram</h3>
            <h3 class="subtitulo-footer">Behance</h3>
        </div>
        
    </footer>
    
</body>
</html>